@media (min-width: 1px) and (max-width: 499px){
footer{
    background-color: rgb(8, 83, 194);
    width: 120%;
    height: 100%;
}

footer div button {
    text-decoration: none;
    background-color: rgb(8, 83, 194);
    color: rgb(0, 0, 0);
    font-size: 100%;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

footer div button{
    width: 100%;
    margin: 0;
    padding: 0;
}
}
@media (min-width: 500px) and (max-width: 800px){
    footer{
        background-color: rgb(245, 0, 151);
        width: 120%;
        height: 100%;
    }
    
    footer div button {
        text-decoration: none;
        background-color: rgb(245, 0, 151);
        color: rgb(0, 0, 0);
        font-size: 100%;
        font-weight: 500;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    }
    
    footer div button{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    }
    @media (min-width: 801px){
        footer{
            background-color: rgb(255, 238, 4);
            width: 120%;
            height: 100%;
        }
        
        footer div button {
            text-decoration: none;
            background-color: rgb(255, 238, 4);
            color: rgb(0, 0, 0);
            font-size: 100%;
            font-weight: 500;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
        }
        
        footer div button{
            width: 100%;
            margin: 0;
            padding: 0;
        }
        }